.sc2-cards .box-cards .card h2, .sc2-cards h1, .sc1-foryou h1, header .hero-texts h1 {
  text-transform: uppercase;
  color: white;
}
.sc2-cards .box-cards .card h2 b, .sc2-cards h1 b, .sc1-foryou h1 b, header .hero-texts h1 b {
  color: #B01316;
}
@media (max-width: 1050px) {
  .sc2-cards .box-cards .card h2, .sc2-cards h1, .sc1-foryou h1, header .hero-texts h1 {
    text-align: center;
  }
}

.sc1-foryou .box-foryou .elem p, header .hero-texts p {
  color: white;
  font-size: 1.15rem;
}
@media (max-width: 1550px) {
  .sc1-foryou .box-foryou .elem p, header .hero-texts p {
    font-size: 1rem;
  }
}
@media (max-width: 1250px) {
  .sc1-foryou .box-foryou .elem p, header .hero-texts p {
    font-size: 0.9rem;
  }
}
@media (max-width: 1050px) {
  .sc1-foryou .box-foryou .elem p, header .hero-texts p {
    text-align: center;
    width: 70%;
  }
}

.sc2-cards .box-cards .card a, .sc2-cards .box-cards .card button, .sc2-cards .button-popup, header .hero-texts a {
  display: inline-block;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background-color: #B01316;
  color: white;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
}
.sc2-cards .box-cards .card a:hover, .sc2-cards .box-cards .card button:hover, .sc2-cards .button-popup:hover, header .hero-texts a:hover {
  background-color: #880f11;
}

.sc2-cards, .sc1-foryou {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sc2-cards .box-cards, .sc1-foryou .box-foryou {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}

.sc2-cards .box-cards #card4, .sc2-cards .box-cards #card3, .sc2-cards .box-cards #card2, .sc2-cards .box-cards #card1 {
  background-position: center;
  background-size: cover;
  background-repeat: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 75%;
  display: flex;
  align-content: center;
  justify-content: space-around;
}
@media (max-width: 1550px) {
  .container {
    width: 75%;
  }
}
@media (max-width: 1250px) {
  .container {
    width: 85%;
  }
}

header {
  display: flex;
  justify-content: center;
  height: 70vh;
  background-color: #000;
  overflow-x: hidden;
}
header .hero-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
header .hero-texts h1 {
  margin: 30px 0 10px 0;
  font-size: 2.3rem;
  text-transform: none;
}
@media (max-width: 1550px) {
  header .hero-texts h1 {
    font-size: 1.9rem;
  }
}
@media (max-width: 1250px) {
  header .hero-texts h1 {
    font-size: 1.7rem;
  }
}
header .hero-texts a {
  width: 50%;
  margin: 50px 0 50px 0;
}
header .hero-texts img {
  width: 180px;
}
@media (max-width: 1250px) {
  header .hero-texts img {
    width: 150px;
  }
}
@media (max-width: 1050px) {
  header .hero-texts img {
    width: 180px;
  }
}
@media (max-width: 1050px) {
  header .hero-texts {
    width: 100%;
    align-items: center;
  }
}
header .hero-image {
  width: 50%;
  position: relative;
  display: flex;
  align-items: flex-end;
}
header .hero-image img {
  position: absolute;
  height: 100%;
  left: -25%;
  bottom: 0;
}
@media (max-width: 1550px) {
  header .hero-image img {
    height: 97%;
    left: -30%;
  }
}
@media (max-width: 1250px) {
  header .hero-image img {
    height: 95%;
    left: -45%;
  }
}
@media (max-width: 1050px) {
  header .hero-image {
    display: none;
  }
}

.sc1-foryou {
  padding: 30px 20%;
  background-color: #0C0B0B;
  border-top: 2px solid #B01316;
  border-bottom: 2px solid #B01316;
}
.sc1-foryou h1 {
  text-transform: uppercase;
  margin: 20px 0 40px 0;
  font-size: 1.7rem;
}
@media (max-width: 1250px) {
  .sc1-foryou .box-foryou {
    flex-direction: column;
    justify-content: center;
  }
}
.sc1-foryou .box-foryou .elem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 28%;
  padding: 20px;
}
@media (max-width: 1250px) {
  .sc1-foryou .box-foryou .elem {
    width: 100%;
  }
}
.sc1-foryou .box-foryou .elem p {
  margin-top: 20px;
}
@media (max-width: 1250px) {
  .sc1-foryou .box-foryou .elem p {
    width: 250px;
  }
}

.sc2-cards {
  padding: 30px 5%;
  background-color: #000;
}
@media (max-width: 1550px) {
  .sc2-cards {
    padding: 30px 2%;
  }
}
@media (max-width: 1250px) {
  .sc2-cards {
    padding: 30px 5%;
  }
}
.sc2-cards h1 {
  text-transform: uppercase;
  font-size: 2.3rem;
  margin: 20px 0 60px 0;
}
.sc2-cards .button-popup {
  margin: 60px 0;
  width: 25%;
  font-size: 1.15rem;
  animation: button-popup infinite 2s alternate;
}
@media (max-width: 1250px) {
  .sc2-cards .button-popup {
    width: 47%;
  }
}
@keyframes button-popup {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.08);
  }
}
@media (max-width: 1250px) {
  .sc2-cards .box-cards {
    flex-direction: column;
    justify-content: center;
  }
}
.sc2-cards .box-cards #card1 {
  background-image: url("../assets/card1.png");
}
.sc2-cards .box-cards #card2 {
  background-image: url("../assets/card2.png");
}
.sc2-cards .box-cards #card3 {
  background-image: url("../assets/card3.png");
}
.sc2-cards .box-cards #card4 {
  background-image: url("../assets/card4.png");
}
.sc2-cards .box-cards .card {
  width: 23%;
  height: 600px;
  border-radius: 5px;
  border: 2px solid #B01316;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media (max-width: 1250px) {
  .sc2-cards .box-cards .card {
    width: 100%;
    height: 450px;
    margin-bottom: 50px;
  }
}
.sc2-cards .box-cards .card h2 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 0 20px;
}
.sc2-cards .box-cards .card button {
  width: 70%;
  margin: 0px auto 25px auto;
  border-radius: 30px;
  font-size: 1.2rem;
}
.sc2-cards .box-cards .card a {
  border-radius: 0;
  text-align: left;
}
.sc2-cards .box-cards .card a img {
  margin-right: 5px;
}

/*# sourceMappingURL=style.css.map */
