.sc5-investimento .sc5-texts-box h1, .sc4-trainer .sc4-texts h1, .sc3-dep h1, .sc2-cards .box-cards .card h2, .sc2-cards h1, .sc1-foryou h1, header .hero-texts h1 {
  text-transform: uppercase;
  color: white;
}
.sc5-investimento .sc5-texts-box h1 b, .sc4-trainer .sc4-texts h1 b, .sc3-dep h1 b, .sc2-cards .box-cards .card h2 b, .sc2-cards h1 b, .sc1-foryou h1 b, header .hero-texts h1 b {
  color: #E2181A;
}
@media (max-width: 1050px) {
  .sc5-investimento .sc5-texts-box h1, .sc4-trainer .sc4-texts h1, .sc3-dep h1, .sc2-cards .box-cards .card h2, .sc2-cards h1, .sc1-foryou h1, header .hero-texts h1 {
    text-align: center;
  }
}

.sc5-investimento .sc5-image p, .sc5-investimento .sc5-texts-box p, .sc4-trainer .sc4-texts p, .sc3-dep .box-dep .dep .dep-header p, .sc1-foryou .box-foryou .elem p, header .hero-texts p {
  color: white;
  font-size: 1.15rem;
}
@media (max-width: 1570px) {
  .sc5-investimento .sc5-image p, .sc5-investimento .sc5-texts-box p, .sc4-trainer .sc4-texts p, .sc3-dep .box-dep .dep .dep-header p, .sc1-foryou .box-foryou .elem p, header .hero-texts p {
    font-size: 1rem;
  }
}
@media (max-width: 1250px) {
  .sc5-investimento .sc5-image p, .sc5-investimento .sc5-texts-box p, .sc4-trainer .sc4-texts p, .sc3-dep .box-dep .dep .dep-header p, .sc1-foryou .box-foryou .elem p, header .hero-texts p {
    font-size: 0.9rem;
  }
}
@media (max-width: 1050px) {
  .sc5-investimento .sc5-image p, .sc5-investimento .sc5-texts-box p, .sc4-trainer .sc4-texts p, .sc3-dep .box-dep .dep .dep-header p, .sc1-foryou .box-foryou .elem p, header .hero-texts p {
    text-align: center;
    width: 70%;
  }
}
.sc5-investimento .sc5-image p b, .sc5-investimento .sc5-texts-box p b, .sc4-trainer .sc4-texts p b, .sc3-dep .box-dep .dep .dep-header p b, .sc1-foryou .box-foryou .elem p b, header .hero-texts p b {
  color: #E2181A;
}

.sc5-investimento .sc5-texts-box a, .sc2-cards .box-cards .card a, .sc2-cards .box-cards .card button, .sc2-cards .button-popup, header .hero-texts a {
  display: inline-block;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background-color: #B01316;
  color: white;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
}
.sc5-investimento .sc5-texts-box a:hover, .sc2-cards .box-cards .card a:hover, .sc2-cards .box-cards .card button:hover, .sc2-cards .button-popup:hover, header .hero-texts a:hover {
  background-color: #880f11;
}

.sc5-investimento, .sc4-trainer, .sc3-dep, .sc2-cards, .sc1-foryou {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sc3-dep .box-dep, .sc2-cards .box-cards, .sc1-foryou .box-foryou {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
}

.sc2-cards .box-cards #card4, .sc2-cards .box-cards #card3, .sc2-cards .box-cards #card2, .sc2-cards .box-cards #card1 {
  background-position: center;
  background-size: cover;
  background-repeat: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 75%;
  display: flex;
  align-content: center;
  justify-content: space-around;
}
@media (max-width: 1570px) {
  .container {
    width: 85%;
  }
}
@media (max-width: 700px) {
  .container {
    width: 90%;
  }
}

header {
  display: flex;
  justify-content: center;
  height: 70vh;
  background-color: #000;
  overflow-x: hidden;
}
header .hero-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
header .hero-texts h1 {
  margin: 30px 0 10px 0;
  font-size: 2.3rem;
  text-transform: none;
}
@media (max-width: 1570px) {
  header .hero-texts h1 {
    font-size: 1.9rem;
  }
}
@media (max-width: 1250px) {
  header .hero-texts h1 {
    font-size: 1.7rem;
  }
}
@media (max-width: 1050px) {
  header .hero-texts p {
    margin-top: 20px;
    width: 100%;
  }
}
header .hero-texts a {
  width: 50%;
  margin: 50px 0 50px 0;
}
@media (max-width: 1050px) {
  header .hero-texts a {
    font-size: 1rem;
    width: 70%;
  }
}
header .hero-texts img {
  width: 180px;
}
@media (max-width: 1250px) {
  header .hero-texts img {
    width: 150px;
  }
}
@media (max-width: 1050px) {
  header .hero-texts img {
    width: 180px;
  }
}
@media (max-width: 1050px) {
  header .hero-texts {
    width: 100%;
    align-items: center;
  }
}
header .hero-image {
  width: 50%;
  position: relative;
  display: flex;
  align-items: flex-end;
}
header .hero-image img {
  position: absolute;
  height: 100%;
  left: -25%;
  bottom: 0;
}
@media (max-width: 1570px) {
  header .hero-image img {
    height: 97%;
    left: -30%;
  }
}
@media (max-width: 1250px) {
  header .hero-image img {
    height: 95%;
    left: -30%;
  }
}
@media (max-width: 1050px) {
  header .hero-image {
    display: none;
  }
}

.sc1-foryou {
  padding: 30px 20%;
  background-color: #0C0B0B;
  border-top: 2px solid #B01316;
  border-bottom: 2px solid #B01316;
}
.sc1-foryou h1 {
  text-transform: uppercase;
  margin: 20px 0 40px 0;
  font-size: 1.7rem;
}
@media (max-width: 1250px) {
  .sc1-foryou .box-foryou {
    flex-direction: column;
    justify-content: center;
  }
}
.sc1-foryou .box-foryou .elem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 28%;
  padding: 20px;
}
@media (max-width: 1250px) {
  .sc1-foryou .box-foryou .elem {
    width: 100%;
  }
}
.sc1-foryou .box-foryou .elem p {
  margin-top: 20px;
}
@media (max-width: 1250px) {
  .sc1-foryou .box-foryou .elem p {
    width: 250px;
  }
}

.sc2-cards {
  padding: 30px 8%;
  background-color: #000;
}
@media (max-width: 1570px) {
  .sc2-cards {
    padding: 30px 2%;
  }
}
@media (max-width: 1250px) {
  .sc2-cards {
    padding: 30px 18%;
  }
}
@media (max-width: 1050px) {
  .sc2-cards {
    padding: 30px 10%;
  }
}
@media (max-width: 700px) {
  .sc2-cards {
    padding: 30px 5%;
  }
}
.sc2-cards h1 {
  text-transform: uppercase;
  font-size: 2rem;
  margin: 20px 0 60px 0;
}
@media (max-width: 1050px) {
  .sc2-cards h1 {
    font-size: 1.7rem;
  }
}
.sc2-cards .button-popup {
  margin: 60px 0;
  width: 25%;
  font-size: 1.15rem;
  animation: button-popup infinite 2s alternate;
}
@media (max-width: 1250px) {
  .sc2-cards .button-popup {
    width: 47%;
  }
}
@media (max-width: 700px) {
  .sc2-cards .button-popup {
    font-size: 1rem;
    width: 75%;
  }
}
@keyframes button-popup {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.08);
  }
}
@media (max-width: 1250px) {
  .sc2-cards .box-cards {
    flex-direction: column;
    justify-content: center;
  }
}
.sc2-cards .box-cards #card1 {
  background-image: url("../assets/card1.png");
}
.sc2-cards .box-cards #card2 {
  background-image: url("../assets/card2.png");
}
.sc2-cards .box-cards #card3 {
  background-image: url("../assets/card3.png");
}
.sc2-cards .box-cards #card4 {
  background-image: url("../assets/card4.png");
}
.sc2-cards .box-cards .card {
  width: 21%;
  height: 500px;
  border-radius: 5px;
  border: 2px solid #B01316;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
@media (max-width: 1250px) {
  .sc2-cards .box-cards .card {
    width: 80%;
    height: 550px;
    margin-bottom: 50px;
  }
}
@media (max-width: 1050px) {
  .sc2-cards .box-cards .card {
    width: 90%;
  }
}
.sc2-cards .box-cards .card h2 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-bottom: 20px;
  padding: 0 20px;
}
.sc2-cards .box-cards .card button {
  width: 70%;
  margin: 0px auto 25px auto;
  border-radius: 30px;
  font-size: 1.2rem;
}
.sc2-cards .box-cards .card a {
  border-radius: 0;
  text-align: left;
}
.sc2-cards .box-cards .card a img {
  margin-right: 5px;
}

.sc3-dep {
  background: #000;
  padding: 30px 20%;
}
@media (max-width: 1570px) {
  .sc3-dep {
    padding: 30px 10%;
  }
}
.sc3-dep h1 {
  text-transform: uppercase;
  font-size: 2rem;
  margin: 20px auto 60px auto;
  max-width: 600px;
  text-align: center;
}
@media (max-width: 1050px) {
  .sc3-dep h1 {
    font-size: 1.7rem;
  }
}
@media (max-width: 700px) {
  .sc3-dep h1 {
    font-size: 1.4rem;
  }
}
.sc3-dep .box-dep {
  margin-top: 20px;
}
@media (max-width: 1250px) {
  .sc3-dep .box-dep {
    flex-direction: column;
    justify-content: center;
  }
}
.sc3-dep .box-dep .dep {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  background: #0C0B0B;
  padding: 20px;
  border-bottom: 2px solid #B01316;
  position: relative;
}
@media (max-width: 1250px) {
  .sc3-dep .box-dep .dep {
    margin-bottom: 50px;
  }
}
.sc3-dep .box-dep .dep .dep-header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.sc3-dep .box-dep .dep .dep-header img {
  border-radius: 16px;
  border: 1px solid #E2181A;
  margin-right: 20px;
}
.sc3-dep .box-dep .dep .dep-header p {
  text-transform: uppercase;
  line-height: 20px;
  font-weight: bold;
  text-align: left;
}
.sc3-dep .box-dep .dep .dep-header p b {
  font-weight: 400;
  color: #B01316;
  font-size: 0.8rem;
}
.sc3-dep .box-dep .dep p {
  color: #FFFFFF;
}
.sc3-dep .box-dep .dep .mini-logo {
  position: absolute;
  bottom: 0;
  right: 5px;
}

.sc4-trainer {
  background: #000;
  border-top: 2px solid #B01316;
  overflow: hidden;
}
.sc4-trainer .container {
  width: 70%;
}
@media (max-width: 1570px) {
  .sc4-trainer .container {
    width: 85%;
  }
}
@media (max-width: 1050px) {
  .sc4-trainer .container {
    width: 100%;
  }
}
.sc4-trainer .sc4-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
@media (max-width: 1250px) {
  .sc4-trainer .sc4-texts {
    width: 70%;
    text-align: center;
    margin-top: 50px;
  }
}
.sc4-trainer .sc4-texts-details {
  display: flex;
}
@media (max-width: 1250px) {
  .sc4-trainer .sc4-texts-details {
    justify-content: center;
  }
}
@media (max-width: 700px) {
  .sc4-trainer .sc4-texts-details {
    flex-direction: column;
  }
}
.sc4-trainer .sc4-texts-details .details-child {
  margin: 0 15px;
}
.sc4-trainer .sc4-texts-details .details-child h1 {
  text-align: center;
  margin-bottom: 5px;
}
.sc4-trainer .sc4-texts-details .details-child h1 b {
  color: #E2181A;
}
.sc4-trainer .sc4-texts-details .details-child p {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.sc4-trainer .sc4-texts h1 {
  margin-bottom: 20px;
}
@media (max-width: 1050px) {
  .sc4-trainer .sc4-texts h1 {
    margin-bottom: 30px;
  }
}
.sc4-trainer .sc4-texts p {
  font-size: 1rem;
  margin-bottom: 30px;
}
@media (max-width: 1050px) {
  .sc4-trainer .sc4-texts p {
    text-align: justify;
    width: 100%;
  }
}
.sc4-trainer .sc4-image {
  width: 50%;
}
@media (max-width: 1250px) {
  .sc4-trainer .sc4-image {
    display: none;
  }
}
@media (max-width: 1570px) {
  .sc4-trainer .sc4-image img {
    position: relative;
    left: -50px;
  }
}

.sc5-investimento {
  padding: 100px 0;
  background: #000;
  border-top: 2px solid #B01316;
}
@media (max-width: 700px) {
  .sc5-investimento .container {
    width: 100%;
  }
}
.sc5-investimento .sc5-texts {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1250px) {
  .sc5-investimento .sc5-texts {
    width: 100%;
  }
}
.sc5-investimento .sc5-texts-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding: 30px;
  background: #0C0B0B;
  border-radius: 5px;
  border: 1px solid #B01316;
}
@media (max-width: 700px) {
  .sc5-investimento .sc5-texts-box {
    width: 85%;
  }
}
.sc5-investimento .sc5-texts-box h1 {
  border-bottom: 2px solid #B01316;
  margin-bottom: 20px;
  font-size: 2.2rem;
}
@media (max-width: 700px) {
  .sc5-investimento .sc5-texts-box h1 {
    font-size: 1.8rem;
  }
}
.sc5-investimento .sc5-texts-box p {
  text-align: center;
  font-size: 0.95rem;
  width: 90%;
  margin-bottom: 20px;
}
@media (max-width: 700px) {
  .sc5-investimento .sc5-texts-box p {
    width: 100%;
  }
}
.sc5-investimento .sc5-texts-box .new-price {
  font-size: 1.1rem;
  margin: 48px 0 24px 0;
}
.sc5-investimento .sc5-texts-box .new-price b {
  color: #FFFFFF;
}
.sc5-investimento .sc5-texts-box .or-price {
  font-size: 2rem;
  margin-bottom: 48px;
}
@media (max-width: 700px) {
  .sc5-investimento .sc5-texts-box .or-price {
    font-size: 1.6rem;
  }
}
.sc5-investimento .sc5-texts-box a {
  width: 100%;
}
.sc5-investimento .sc5-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 50px;
}
@media (max-width: 1250px) {
  .sc5-investimento .sc5-image {
    display: none;
  }
}
.sc5-investimento .sc5-image p {
  margin-top: 30px;
  width: 75%;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
